@import "@/assets/style/theme";
.i-input {
	width: 200px;
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid #c0c0c0;
	outline: none;
	height: 28px;
	font-size: 12px;
	box-sizing: border-box;

	&:focus {
		border: 1px solid $blue;
	}
}
