@import "./theme";
@import "./animate";

:root {
	font-size: 16px;
}

* {
	font-family: Consolas, sans-serif, "Microsoft YaHei";
}

html {
	overflow-x: hidden;
	overflow-y: auto;
}

body,
#app {
	margin: 0;
	background-color: var(--neutral);
}

::-webkit-scrollbar {
	//滚动条的宽度
	width: 0.25rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 1rem;
}
