@mixin light {
	--primary: #4fb3ff;
	--secondary-color: #ff4081;
	--white: #f7f8f9;
	--black: #1a1a1a;
	--neutral: #e3e4e5;
}

@mixin dark {
	--white: #1a1a1a;
	--black: #ffffffde;
	--neutral: #232323;
}

:root {
	transition: all 0.3s ease;
}
