@mixin light {
	--primary-color: #4fb3ff;
	--secondary-color: #ff4081;
	--white: #f7f8f9;
	--black: #000;
	--neutral: #e3e4e5;
}

@mixin dark {
	--white: #1a1a1a;
	--black: rgba(255, 255, 255, 0.87);
	--neutral: #232323;
	transition: all 0.3s ease;
}

:root {
	@include light;
}

:root[data-theme="dark"] {
	@include dark;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		@include dark;
	}
}
