/**
 * @Author: Kritsu
 * @Date:   2021/11/09 15:43:10
 * @Last Modified by:   Kritsu
 * @Last Modified time: 2021/11/17 18:03:08
 */
$primary_color: rgb(58, 122, 254);
$text-color: pink;

@import "@/style/theme";

.i-indices {
    user-select: none;
    outline: none;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    display: block;
    .i-indices-label,
    .i-option {
        padding-right: 8px;
    }

    .i-option {
        cursor: pointer;

        &.active {
            color: $blue;
        }
    }
}
