@import "@/style/theme";

.prof-item {
    &:nth-child(odd) {
        flex-direction: row-reverse;
    }

    &:hover {
        color: $blue;
        background: rgba($blue, 0.12);
    }

    &.active {
        color: $blue;
        background: rgba($blue, 0.36);
    }
}

.icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    color: $theme-color;

    &.dark {
        background-image: url("@/assets/dark.svg");
    }

    &.light {
        background-image: url("@/assets/light.svg");
    }
}
