name: Deploy

on:
    push:
        tags:
          - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: 8.6.0

            - name: Set node version to 16.x
              uses: actions/setup-node@v4
              with:
                  node-version: 16.x
                  registry-url: https://registry.npmjs.org/
                  cache: "pnpm"

            - name: Install deps
              run: pnpm install

            - name: Download Resource
              run: |
                  mkdir dist
                  cd dist
                  git init
                  git remote add origin https://d-mod:${{ secrets.DMOD_TOKEN }}@github.com/d-mod/avatar_resource.git
                  git config user.email "chizukicn@outlook.com"
                  git config user.name "chizukicn"
                  git config advice.ignoredHook false
                  git pull origin resources
            - run: pnpm run build
            - run: |
                  cd dist
                  git checkout -b gh-pages
                  git add -A
                  git commit -m "deploy"
                  git push -f origin gh-pages
